@import "normalize.css/normalize.css";
@import "./variables.scss";
@import "./mixins.scss";
@import "./fonts.scss";
@import url("https://fonts.googleapis.com/css?family=Overpass:400");

* {
  box-sizing: border-box;
}

html {
  /*
  Makes 1rem = 10px
  See https://developer.mozilla.org/en-US/docs/Web/CSS/font-size
  or https://snook.ca/archives/html_and_css/font-size-with-rem
  */
  font-size: 62.5%;
}

body {
  font-size: 2.0rem;
  font-family: 'Overpass', sans-serif;
  color: rgba(57, 43, 61, 0.85);
}

h1 {
  font-family: "Montserrat", sans-serif;
  
  font-weight: 600;
  color: rgba(57, 43, 61, 0.9);
  text-transform: uppercase;

  font-size: 2.5rem;
}

p {
  // margin-top: 0px;
}

h2 {
  font-size: 1.2em;
}

ul, li {
  line-height: 3.1rem;
}

a,
a:visited {
  text-decoration: none;
  color: #f9543e;
  letter-spacing: -0.16px;
}

a:hover {
  color: rgb(248, 108, 89);
  text-decoration: underline;
}